{% extends "layout.html" %}

{% block content %}
  <main class="hero-section">
    <div class="container">
      
      <div class="section-content">
        <h2>Azure Services.</h2>
        <a href="{{ url_for('about') }}" class="btn-primary"> Send test REST message</a>
        <p> </p>
        <a href="{{ url_for('vision') }}" class="btn-secondary"> Send file to CV</a>
        <a href="{{ url_for('selcvfile') }}" class="btn-secondary"> Send file to blob</a>
        <a href="{{ url_for('listcont') }}" class="btn-secondary"> View blob</a>
      </div>

      <div class="section-device">
        <img src="static/img/full-sail-home.jpg">
      </div>
      
      <div class="clearfix"></div>

    </div>
  </main>
{% endblock %}
